body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f1faee;
	font-family: sans-serif;
}

.auth--fragment{
	background-color: #14213d;
	padding: 2rem 3rem 2rem 3rem;
	border-radius: 1.25rem;
	box-shadow: 0.75rem 0.75rem #0b090a;
}

.auth--fragment h2{
	text-align: center;
	color: #f1faee;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.auth--form{
	display: flex;
	flex-direction: column;
}

.auth--form input{
	font-size: 1.1rem;
	padding: .8rem 2rem;
	margin: 0.2rem;
	border-radius: 0.3rem;
	border: solid 0.1rem #495057;
	background-color: transparent;
	color: #f1faee;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: initial !important;
}

.auth--form button{
	font-size: 1.1rem;
	background-color: #ff9411;
	padding: .8rem 2rem;
	margin: 0.2rem;
	border-radius: 0.3rem;
	border: none;
	&:hover{
		cursor: pointer;
	background-color:#ff8611;
	}
}

.auth--redirect{
	margin-top: 2rem;
	text-align: center;
	color: #adb5bd;	
}

.auth--redirect a{
	text-decoration: none;
	color: #ff9411;
	&:hover{
		color:#ff8611
	}
}


