:root {
  --blue: #14213d;
  --black: #0b090a;
  --white: #f1faee;
  --gray: #495057;
  --light-gray: #adb5bd;
  --accent: #ff9411;
  --accent-hover: #ff8611; 
}

.home {
	display: flex;
	height: 85vh;
	width: 80%;
	gap: 2.5rem;
	margin: auto;
	justify-content: center;
}

.calendar {
    flex-grow: 1;
}

.weather {
    flex-grow: 0;
}

.weather table, .weather th, .weather td{
	border: 1px solid;
	border-collapse: collapse;
	padding: 0.6rem;
}