:root {
  --blue: #14213d;
  --black: #0b090a;
  --white: #f1faee;
  --gray: #495057;
  --light-gray: #adb5bd;
  --accent: #ff9411;
  --accent-hover: #ff8611; 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	height: 4.5rem;
	margin: 0;
	padding: 1.35rem;
	font-family: sans-serif;
	background-color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

nav{
	width: 80%;
	color: var(--white);
	display: flex;
	 justify-content: flex-end;
	 align-items: center;
}

header nav h1{
	margin-right: auto;
	font-size: 2rem;
}

nav ul li{
	font-size: 1.25rem;
	display: inline-block;
	padding: 1rem 0.5rem;
	&:hover{
		cursor: pointer;
		color: var(--accent-hover);
	}
}

li {
  display: flex;
  align-items: center;
}

nav ul li:hover i{
	color: var(--accent-hover);
}

/* Profile Serrings */
.nav--profile-dropdown {
  position: relative;
}


.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 102%;
  background-color: var(--white);
  min-width: 160px;
  box-shadow:  0px 0px 16px var(--gray);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  box-shadow: inset 1px var(--gray);
  &:hover{
	color: var(--accent-hover);
  }
}

nav ul li:hover .dropdown-content {
  display: block;
}


/* City */
li.nav--city form {
    display: inline-block;
}

.nav--city{
	position: relative;
}

.city--input{
	font-size: 1rem;
	padding: 0.5rem 0.6rem;
	border-radius: 0.3rem;
	border: solid 0.1rem var(--gray);
	background-color: transparent;
	color: var(--white);
	display: inline-flex;
	width: 12rem;
}

.city--suggestion{
    display: block;
    position: absolute;
    width: 12rem;
    top: 85%;
    left: 5.9rem;
    background: ghostwhite;
    border: 1px solid var(--light-gray);
    border-radius: 0.3rem;
    font-size: 1rem;
	padding: 0.58rem 0.70rem;
	&:hover{
		background-color: var(--white);
	}
}

.city--suggestion a{
	 text-decoration: none;
     color: var(--black);
}
 
 nav ul li form button{
	 background-color: transparent;
	 margin-left: -0.2rem;
	 border: var(--accent) 1px solid;
	 color: var(--white);
	 font-size: 1rem;
	 width: 3rem;
	 height: 2.3rem;
	 border-radius: 0.3rem;
	 &:hover{
		 cursor: pointer;
		 background-color: var(--accent-hover);
	}
}

