<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./stylesheets/nav.css">
<title>Home | Schedule It</title>
</head>
<header>
	<nav>
		<h1 class="nav--logo">Schedule It</h1>
		<ul class="nav--list">
			<li class="class="nav--profile-dropdown"">User Settings
					<div class="dropdown-content">
					      <a href="/logout">Log Out</a>
					      <a href="#">Change Password</a>
					      <a href="#">Delete Account</a>
				    </div>
			</li>
		</ul>
	</nav>
</header>
 
</html>