<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./stylesheets/auth.css">
		<meta charset="UTF-8">
		<title>Schedule It | Login</title>
	</head>
	<body>
		<div class="auth--fragment">
				<h2>Login Here</h2>
				<form class="auth--form">
					<input name="login-email" placeholder="Email" type="email"/>
					<input name="login-password" placeholder="Password" type="password"/>
					<button>Log In</button>
				</form>
				<p class="auth--redirect">Don't have an account yet? <a href="/register">Sign Up</a></p>
		</div>
		
	</body>
</html>