<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./stylesheets/login.css">
		<meta charset="UTF-8">
		<title>Schedule It | Login</title>
	</head>
	<body>
		<div class="login--fragment">
				<h2>Login Here</h2>
				<form class="login--form">
					<input name="login-user" placeholder="User Name"/>
					<input name="login-email" placeholder="Email" type="email"/>
					<input name="login-password" placeholder="Password" type="password"/>
					<button>Log In</button>
				</form>
		</div>
		
	</body>
</html>