<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./stylesheets/auth.css">
		<meta charset="UTF-8">
		<title>Schedule It | Register</title>
	</head>
	<body>
		<div class="auth--fragment">
				<h2>Register Here</h2>
				<form class="auth--form" action="/register" method="post">
					<input type="text" id="name" name="name" placeholder="User Name" required minlength="3"/>
					<input type="email" id="email" name="email" placeholder="Email" required minlength="6"/>
					<input type="password" id="password" name="password" placeholder="Password" required minlength="6"/>
					<button type="submit">Register</button>
				</form>
				<p class="auth--redirect">Already have an account? <a href="/login">Log In</a></p>
		</div>
	</body>
</html>